body{
    font-family: 'Poppins', sans-serif;
}.i-color{
    color: #5243C2;
}
.btn-color{
    background: #F496D1;
    text-decoration: none;
    color: white;
}
.section-color{
    background-image: radial-gradient(#E6DADA, #274046);
}